// <ПОДКЛЮЧЕНИЕ ШРИФТОВ> =============================================================================================================
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

// <ПЕРЕМЕННЫЕ ШРИФТОВ> =============================================================================================================
$font-family: 'Roboto', sans-serif;