.btn {
  background-color: transparent;
  color: #000;
  font-weight: 500;
  border-radius: 56px;
  border: 1px solid $yellow;
  padding: 15px 5px;
  width: 150px;
  cursor: pointer;
  min-height: 45px;
  font-size: 14px;
  text-align: center;
}