
// <НАСТРОЙКИ СЕТКИ> =========================================================================================================

$mw: 1290px;
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;

.container{max-width:$mw;margin: 0 auto; padding: 0 15px; width: 100%;
	@media (max-width:$lg){max-width: 970px;}
	@media (max-width:$md){max-width: 750px;}
  @media (max-width:$sm){max-width: 600px;padding:0 10px;}
  @media (max-width:$xs){max-width: 100%;padding:0 10px;}
}
.container-big{max-width:1450px;margin: 0 auto; padding: 0 15px; width: 100%;
  @media (max-width: 1500px){max-width: 1290px;}
	@media (max-width:$lg){max-width: 970px;}
	@media (max-width:$md){max-width: 750px;}
  @media (max-width:$sm){max-width: 600px;padding:0 10px;}
  @media (max-width:$xs){max-width: 100%;padding:0 10px;}
}
// </НАСТРОЙКИ СЕТКИ> =========================================================================================================
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
}
img {
  max-width: 100%;
}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
h1,h2,h3,h4,p {
  margin: 0;
}

h1{font-size: 50px;}
h2 {font-size: 48px;}
h3 {font-size: 36px;}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  outline: none;
}
// <БЛОКИ> =============================================================================================================

.wrapper {
  overflow: hidden;
}
.overlay {
  position: fixed;
  height: 100%;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity .7s;
  width: 0;
  &_active {
    width: 100%;
    opacity: .7;
    z-index: 9000;
  }
}
.ibg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.order-1 {
  order: 1;
}
.sect {
  padding: 50px 0;
  @media (max-width: $xs) {padding: 30px 0;}
}
.title {
  font-size: 48px;
  color: $yellow;
  font-weight: 700;
  @media (max-width: $md) {font-size: 44px;}
  @media (max-width: $sm) {font-size: 38px;}
  @media (max-width: $xs) {font-size: 32px;}
  &_r {
    text-align: right;
    padding-right: 90px;
    @media (max-width: $md){padding-right: 0;}
    @media (max-width: $sm){text-align: left;}
  }
}
.title3 {
  font-size: 36px;
  font-weight: 500;
  @media (max-width: $sm) {font-size: 30px;}
  @media (max-width: $xs) {font-size: 24px;}
  strong {
    color: $yellow;
  }
}
.yellow {
  color: $yellow;
}
.right {
  text-align: right;
  @media (max-width: $sm){text-align: left;}
}
.mobile-none {
  @media (max-width: $xs) {display: none;}
}
// <БЛОКИ> =============================================================================================================