// <ПЕРЕМЕННЫЕ> =============================================================================================================
$yellow: #FBC436;
$blue: #369CE7;
$grey: #3D3D3D;
// </ПЕРЕМЕННЫЕ> =============================================================================================================




// <МИКСИНЫ> =============================================================================================================

// </МИКСИНЫ> =============================================================================================================