// <> =============================================================================================================
@import "include";
// <> =============================================================================================================
@import "blocks/header";
@import "blocks/platform";
@import "blocks/birthday";
@import "blocks/company";
@import "blocks/contract";
@import "blocks/game";
@import "blocks/quest";


// <ГЛАВНЫЙ БЛОК> =============================================================================================================
.mainblock-wrapper {
  // background-position: 200px 27px;
  position: relative;
}
.mainblock {
  padding: 200px 0px 0px;
  min-height: 1024px;
  display: flex;
  flex-direction: column;
  color: #fff;
  @media (max-width: 1300px) {
    min-height: 100vh;
  }
  @media (max-width: $sm){padding-top: 150px;}
  @media (max-width: $xs){padding-top: 100px;min-height: auto;}
  .video {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    @media (max-width: $sm){padding-right: 30px;}
    @media (max-width: $xs){display: none;}
    &:hover {
      .video__btn {
        opacity: 1;
        transform: translateX(0px);
      }
    }
    // .video__click
    &__click {
      position: relative;
      z-index: 3;
      &-body {
        width: 59px;
        height: 59px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        background-position: 16.5px center;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 rgba($yellow, 1);
        animation: pulse 2s infinite; 
        background: $yellow;
        z-index: 1;
      }
      &-play {
        position: absolute;
        left: 19.5px;
        top: 19px;
        width: 21px;
        height: 21px;
        z-index: 3;
        cursor: pointer;
      }
    }
  }
  .video__btn {
    color: #fff;
  }
  // height: 100vh;
  // .mainblock__inner
  &__inner {
    max-width: 800px;
  }
  // .mainblock__title
  &__title {
    margin-bottom: 25px;
    color: #fff;
  }
  // .mainblock__list
  &__list {
    margin-bottom: 40px;
    font-weight: 500;
    @media (max-width: $md) {margin-bottom: 30px;}
    @media (max-width: $xs) {margin-bottom: 15px;}
  }
  // .mainblock__list-item
  &__list-item {
    margin-bottom: 25px;
    @media (max-width: $sm) {margin-bottom: 12px;}
    img {
      vertical-align: middle;
      margin-right: 20px;
      width: 40px;
      @media (max-width: $md) {width: 30px;margin-right: 10px;}
      @media (max-width: $sm) {width: 25px;}
    }
    span {
      font-size: 24px;
      line-height: 28px;
      vertical-align: middle;
      @media (max-width: $sm) {font-size: 18px;}
    }
  }
  // .mainblock__row
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 620px;
  }
  // .mainblock__btn
  &__btn {
    max-width: 270px;
    width: 100%;
    min-height: 70px;
    font-size: 18px;
    background-color: $yellow;
    color: #fff;
    border-radius: 169px;
    transition: .2s;
    @media (max-width: $sm){min-height: 60px;}
    &:hover {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
      transform: translate(3px, -3px);
    }
  }
  // .mainblock__fact
  &__fact {
    // background: linear-gradient(360deg, #FFFFFF 10.32%, rgba(255, 255, 255, 0) 100%);
    margin-top: auto;
  }
    // .mainblock__fact-item
    &__fact-list {
      display: flex;
      justify-content: space-between;
      padding-top: 90px;
      padding-bottom: 100px;
      @media (max-width: 1300px) {
        // padding-bottom: 100px;
        padding-top: 60px;
      }
      @media (max-width: $md) {flex-wrap: wrap;}
      @media (max-width: $sm) {padding-top: 30px;padding-bottom: 50px;}
      @media (max-width: $xs) {padding-top: 15px;padding-bottom: 30px;}
    }
  // .mainblock__fact-item
  &__fact-item {
    text-align: center;
    @media (max-width: $md) {width: 50%;margin-top: 15px;}
    &:last-child {
      @media (max-width: $md) {order: -1;}
    }
  }
  // .mainblock__fact-item__number
  &__fact-item__number {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: $yellow;
    @media (max-width: $sm) {font-size: 44px;line-height: 50px;}
    @media (max-width: $xs) {font-size: 40px;line-height: 44px;}
  }
  // .mainblock__fact-item__text
  &__fact-item__text {
    font-size: 18px;
    line-height: 21px;
  }
}

// </ГЛАВНЫЙ БЛОК> =============================================================================================================

// <УСЛУГИ> =============================================================================================================
.services {

  // .services__title
  &__title {
    margin-bottom: 40px;
    @media (max-width: $md){margin-bottom: 20px;}
    @media (max-width: $sm){margin-bottom: 0px;}
  }
  // .services__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .services__item
  &__item {
    min-height: 380px;
    border-radius: 10px;
    width: calc(50% - 10px);
    margin-top: 20px;
    position: relative;
    z-index: 1;
    transition: .4s;
    overflow: hidden;
    @media (max-width: $lg){min-height: 320px;}
    @media (max-width: $md){min-height: 280px;}
    @media (max-width: $sm){min-height: 220px;}
    @media (max-width: 520px){width: 100%;min-height: 240px;}
    @media (max-width: 400px){width: 100%;min-height: 200px;}
    &:hover {
      // box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.3);
      transform: scale(1.03);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, #000000 0%, rgba(61, 61, 61, 0) 58.42%);
      z-index: 2;
    }
    &-content {
      position: absolute;
      bottom: 40px;
      left: 80px;
      z-index: 3;
      @media (max-width: $md){left: 40px;bottom: 20px;}
      @media (max-width: $sm){left: 20px;}
    }
    &-title {
      position: relative;
      padding-bottom: 4px;
      margin-bottom: 7px;
      @media (max-width: $sm){font-size: 24px;}
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $yellow;
        width: 100%;
        @media (max-width: $sm){width: 90%;}
        @media (max-width: $xs){width: 100%;}
      }
    }
  }
  // .services__more
  &__more {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    padding-right: 50px;
    position: relative;
    overflow: hidden;
    @media (max-width: $sm) {font-size: 20px;}
    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      margin-left: auto;
      background-image: url(../img/icons/arrow-r.svg);
      height: 100%;
      width: 40px;
      background-position: center;
      background-repeat: no-repeat;
      transition: .6s;
      z-index: -1;
      margin-right: 30px;
      opacity: 0;
      @media (max-width: $sm) {margin-right: 0;opacity: 1;transform: scale(0.8);right: 5px;}
    }
    &:hover {
      &::after {
        margin-right: 0;
        opacity: 1;
      }
    }
  }
}
// </УСЛУГИ> =============================================================================================================

// <О НАС> =============================================================================================================
.about {
  // .about__title
  &__title {
    margin-bottom: 55px;
    max-width: 930px;
    @media (max-width: $md){margin-bottom: 30px;}
    @media (max-width: $sm){margin-bottom: 20px;}
  }
  // .about__row
  &__row {}
  }
  .about-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    @media (max-width: $sm){flex-direction: column;}
    &:nth-child(odd) {
      .about-row__info {
        order: 1;
      }
    }
  // .about-row__info
  &__info {
    width: calc(50% - 10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @media (max-width: $sm){width: 100%;}
  }
  // .about-row__info-title
  &__info-title {
    margin-bottom: 12px;
  }
  // .about-row__info-text
  &__info-text {
    max-width: 530px;
    margin-top: auto;
    margin-bottom: auto;
    @media (max-width: $sm){padding: 20px 0px;}
    p {
      max-width: 100%;
      line-height: 1.4;
      margin-bottom: 22px;
      @media (max-width: $md){margin-bottom: 10px;}
    }
    a {
      color: $blue;
      &:hover {
        color: darken($blue, 10%);
      }
    }
  }
  // .about-row__info-img
  &__info-img {
    max-height: 320px;
    overflow: hidden;
    display: flex;
    @media (max-width: $md){max-height: 170px;}
    @media (max-width: $sm){min-height: 220px;}
    img {
      display: block;
      object-fit: cover;
    }
  }
  // .about-row__img
  &__img {
    width: calc(50% - 10px);
    min-height: 720px;
    @media (max-width: $lg){min-height: 620px;}
    @media (max-width: $md){min-height: 520px;}
    @media (max-width: $sm){width: 100%;min-height: 400px;order: -1;background-position: center -80px;}
    @media (max-width: $xs){min-height: 220px;}
  }
  }
  

// </О НАС> =============================================================================================================

// <БОНУС> =============================================================================================================
.bonus {
  // .bonus__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 85px;
    @media (max-width: $lg){padding: 0 30px;}
    @media (max-width: $sm){flex-wrap: wrap;padding: 0;}
    // @media (max-width: $md){align-items: flex-start;}
  }
  // .bonus__img
  &__img {
    width: calc(43% - 10px);
    display: table;
    @media (max-width: $md){width: 40%;}
    @media (max-width: $sm){width: 100%;display: none;}
    img {
      // box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.4);
      // transform: rotate(-9deg);
      display: table-cell;
      vertical-align: middle;
    }
  }
  // .bonus__info
  &__info {
    width: calc(57% - 10px);
    @media (max-width: $md){width: 60%;order: -1;}
    @media (max-width: $sm){width: 100%;}
  }
  // .bonus__title
  &__title {
    margin-bottom: 40px;
    @media (max-width: $md){font-size: 38px;}
    @media (max-width: $sm){font-size: 32px;margin-bottom: 20px;}
  }
  // .bonus__text
  &__text {
    line-height: 1.4;
    margin-bottom: 60px;
    @media (max-width: $lg){margin-bottom: 30px;}
    @media (max-width: $sm){margin-bottom: 15px;}
  }
  // .bonus__btn
  &__btn {
    font-weight: 400;
  }
}
// </БОНУС> =============================================================================================================

// <ФОТОГРАФИИ> =============================================================================================================
.photo {
  // .photo__titile
  &__titile {
    margin-bottom: 60px;
    @media (max-width:$md){margin-bottom: 40px;}
    @media (max-width:$sm){margin-bottom: 20px; font-size: 24px;}
  }
  // .photo__slider
  &__slider {
    padding-bottom: 60px;
    position: relative;
    min-width: 0;
  }
  // .photo__item
  &__item {
    height: 270px;
    width: 100%;
    max-width: 460px;
    border-radius: 10px;
    @media (max-width:$sm){height: 200px;}
    @media (max-width:$xs){height: 130px;}
  }
  .slick-slide {
    width: 480px;
    padding: 0 10px;
    @media (max-width:$md){width: 400px;}
    @media (max-width:$sm){width: 300px;}
    @media (max-width:$xs){width: 215px;padding: 0 5px;}
  }
  .slick-track {display: flex;}
  .slick-list {overflow: hidden;}
  .slick-arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    bottom: 0;
    background-color: $yellow;
    border: none;
    border-radius: 106px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    font-size: 0;
    outline: none;
  }
  .slick-next {
    transform: translateX(50px);
    background-image: url(../img/icons/triangle-r.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .6s;
    animation: photo-r 1.5s infinite;
    @media (max-width: $xs) {
      transform: translateX(40px) scale(0.7);
    }
    &:hover {
      transform: translateX(60px);
      @media (max-width: $xs) {
        transform: translateX(50px) scale(0.9);
      }
    }
  }
  .slick-prev {
    transform: translateX(-50px);
    background-image: url(../img/icons/triangle-l.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .6s;
    animation: photo-l 1.5s infinite;
    @media (max-width: $xs) {
      transform: translateX(-40px) scale(0.7);
    }
    &:hover {
      transform: translateX(-60px);
      @media (max-width: $xs) {
        transform: translateX(-50px) scale(0.9);
      }
    }
  }
}
@keyframes photo-l {
  0% {
    background-position: center;
  }
  50% {
    background-position: 20px;
  }
  100% {
    background-position: center;
  }
}
@keyframes photo-r {
  0% {
    background-position: center;
  }
  50% {
    background-position: 42px;
  }
  100% {
    background-position: center;
  }
}
// </ФОТОГРАФИИ> =============================================================================================================
  
// <КАК ПРОХОДИТ> ==================================================================================================
.howit {
  padding-top: 100px;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  @media (max-width: $md){display: none;}
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   width: 100%;
  //   background-color: #000;
  //   z-index: 2;
  //   opacity: .5;
  // }
  // .howit__title
  &__title {}
  // .howit__inner
  &__inner {
    position: relative;
    z-index: 3;
    min-height: 800px;
    background-size: contain;
  }
  // .howit__item
  &__item {
    position: absolute;
    img {
      vertical-align: middle;
    }
    &:nth-child(2) {
      top: 39%;
      left: 13.5%;
    }
    &:nth-child(3) {
      top: 55%;
      left: 23.5%;
    }
    &:nth-child(4) {
      top: 39%;
      left: 33.5%;
    }
    &:nth-child(5) {
      top: 55%;
      left: 63.5%;
    }
    &:nth-child(6) {
      top: 39%;
      left: 73.5%;
    }
    &:nth-child(7) {
      top: 56%;
      left: 84%;
    }
  }
  // .howit__text
  &__text {
    color: $yellow;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    max-width: 200px;
  }
}
// </КАК ПРОХОДИТ> ==================================================================================================

// <ПЛОЩАДКИ> =============================================================================================================
.platform {
  // .platform__title
  h3 {
    color: $yellow;
  }
  .video {
    @media (max-width: $sm){ margin-right: 10px;}
  }
  &__title {
    margin-bottom: 60px;
    @media (max-width: $md) {
      margin-bottom: 20px;
      text-align: left;
    }
  }
  // .platform__list
  &__list {
    display: flex;
    justify-content: space-between;
    @media (max-width: $sm) {flex-wrap: wrap;}
  }
  // .platform__item
  &__item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background: #FFFFFF;
    transition: .4s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.25);
    @media (max-width: $sm) {width: 100%;}
    &:hover {
     
    }
  }
  // .platform__item-img
  &__item-img {
    height: 460px;
    width: 100%;
    position: relative;
    z-index: 1;
    @media (max-width: $lg) {height: 320px;}
    @media (max-width: $md) {height: 280px;}
    @media (max-width: $xs) {height: 220px;}
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #3D3D3D 4.62%, rgba(61, 61, 61, 0) 100%);
      z-index: 2;
    }
  }
  // .platform__item-title
  &__item-title {
    position: absolute;
    left: 60px;
    bottom: 60px;
    z-index: 3;
    @media (max-width: $lg) {left: 40px;bottom: 40px; font-size: 32px;}
    @media (max-width: $md) {left: 20px;bottom: 20px;}
    @media (max-width: $md) {left: 20px;bottom: 20px; font-size: 24px;}
  }
  // .platform__item-info
  &__item-info {
    padding: 60px;
    @media (max-width: $lg) {padding: 40px;}
    @media (max-width: $md) {padding: 20px;}
    @media (max-width: $xs) {padding-right: 10px;}
    p {
      line-height: 1.4;
      margin-bottom: 20px;
      @media (max-width: $md) {
        margin-bottom: 15px;
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    @media (max-width: $lg) {margin-top: 30px;}
  }
  // .platform__link
  &__link {
    background-color: $yellow;
    color: #fff;
  }
  // .platform__about
  &__about {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    height: 460px;
    display: flex;
    align-items: center;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.25);
    @media (max-width: $md){height: 370px;}
    @media (max-width: $sm){height: 320px;}
    @media (max-width: $xs) {height: auto;min-height: 240px;padding: 10px 10px 20px 20px;align-items: flex-end;}
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-90deg, #3D3D3D 44.19%, rgba(61, 61, 61, 0) 82.82%);
      border-radius: 10px;
      z-index: 2;
      @media (max-width: $md){background: linear-gradient(-90deg, #3D3D3D 20.19%, rgba(61, 61, 61, 0.5) 82.82%);}
      @media (max-width: $sm){background: linear-gradient(4.23deg, #3D3D3D 3.55%, rgba(61, 61, 61, 0) 95.14%);}
      @media (max-width: $xs){background: linear-gradient(4.23deg, #3D3D3D 3.55%, rgba(61, 61, 61, 0) 95.14%);}
    }
  }
  // .platform__about-content
  &__about-content {
    position: relative;
    z-index: 3;
    margin-left: auto;
    max-width: 41%;
    width: 100%;
    margin-right: 60px;
    @media (max-width: $md){max-width: 49%;}
    @media (max-width: $sm){max-width: 70%;margin-right: 0;margin-left: 15px;}
    @media (max-width: $xs) {max-width: 240px;}
    p {
      color: #fff;
      line-height: 1.4;
      @media(max-width: $xs){display: none;}
    }
    .video__btn {
      color: #fff;
    }
  }
  // .platform__about-title
  &__about-title {
    margin-bottom: 40px;
    @media (max-width: $md){margin-bottom: 30px;}
  }
  }
  .video {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    @media (max-width: $xs){transform: scale(0.65)}
    &:hover {
      .video__btn {
        opacity: 1;
        transform: translateX(0px);
      }
    }
    // .video__click
    &__click {
      position: relative;
      z-index: 3;
      &-body {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        cursor: pointer;
        background: $yellow url(../img/icons/play.svg);
        background-position: 16.5px center;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 rgba($yellow, 1);
        animation: pulse 2s infinite;
      }
    }
  // .video__btn
  &__btn {
    border: none;
    background: transparent;
    opacity: 0;
    margin-left: 0px;
    transition: .7s;
    transform: translateX(-40px);
    @media (max-width: $md) {display: none;}
  }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba($yellow, 0.8);
      box-shadow: 0 0 0 0 rgba($yellow, 0.8);
    }
    60% {
        -moz-box-shadow: 0 0 0 30px rgba($yellow, 0);
        box-shadow: 0 0 0 30px rgba($yellow, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba($yellow, 0);
        box-shadow: 0 0 0 0 rgba($yellow, 0);
    }
  }
// </ПЛОЩАДКИ> =============================================================================================================

// <СТОИМОСТЬ> =============================================================================================================
.cost {
  .cost__list {
    position: relative;
    padding-bottom: 60px;
  }
  .slick-track{
    display: flex;
  }
  .slick-slide {
    margin-right: 20px;
    width: 300px;
    padding: 15px 0;
    @media (max-width: 476px){margin-right: 0;padding: 15px 20px;}
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    bottom: 0;
    background-color: $yellow;
    border: none;
    border-radius: 106px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    font-size: 0;
    outline: none;
  }
  .slick-next {
    transform: translateX(50px);
    background-image: url(../img/icons/triangle-r.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .6s;
    animation: photo-r 1.5s infinite;
    @media (max-width: $xs) {
      transform: translateX(40px) scale(0.7);
    }
    &:hover {
      transform: translateX(60px);
      @media (max-width: $xs) {
        transform: translateX(50px) scale(0.9);
      }
    }
  }
  .slick-prev {
    transform: translateX(-50px);
    background-image: url(../img/icons/triangle-l.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .6s;
    animation: photo-l 1.5s infinite;
    @media (max-width: $xs) {
      transform: translateX(-40px) scale(0.7);
    }
    &:hover {
      transform: translateX(-60px);
      @media (max-width: $xs) {
        transform: translateX(-50px) scale(0.9);
      }
    }
  }
}
.cost {
  // .cost__title
  &__title {
    margin-bottom: 60px;
    @media (max-width: $sm){margin-bottom: 5px;text-align: left;}
    
  }
  // .cost__list
  &__list {
    // display: flex;
    // overflow: hidden;
  }
  // .cost__item
  &__item {
    background-color: $grey;
    padding: 30px 25px 60px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: .3s;
    height: 100%;
    min-height: 500px;
    position: relative;
    @media (max-width: 1300px){ padding: 30px 10px 60px 15px;}
    @media (max-width: $lg){min-height: 470px;}
    @media (max-width: $md){min-height: 360px;}
    &:hover {
      // box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.3);
      transform: scale(1.03);
    }
    &:last-child {
      margin-right: 0;
    }
  }
  // .cost__item-img
  &__item-img {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 65px;
    min-height: 120px;
    max-height: 150px;
    @media (max-width: $md){margin-top: 35px;margin-bottom: 30px;}
    @media (max-width: $sm){margin-top: 25px;margin-bottom: 15px;}
    img {
      @media (max-width: $sm){max-width: 100px;}
    }
  }
  // .cost__item-heading
  &__item-heading {
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    color: $yellow;
    @media (max-width: $md){font-size: 36px;}
    @media (max-width: $sm){font-size: 24px;}
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 150px;
      background-color: $yellow;
    }
  }
  // .cost__item-text
  &__item-text {
    font-weight: 300;
    line-height: 1.4;
    color: #fff;
    margin-top: auto;
    margin-bottom: 14px;
  }
  &__item-btn {
    color: $yellow;
    position: absolute;
    bottom: 30px;
  }
  }
  .sect {
  }
  .container {
  }
  .title {
  // .title_r
  &_r {}
  }
  
// </СТОИМОСТЬ> =============================================================================================================


// <ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ> ==================================================================================================
.column-little,
.column-middle,
.column-big {
  &:hover {
    .services-add {
      &__item {
        transform: translateY(0);
        &::after {
          opacity: 1;
          top: -20px;
        }
      }
      &__item-title {
        padding-bottom: 10px;
        transform: translateY(0);
      }
    }
  }
}
.column-little {
  .services-add__item {
    padding-bottom: 10px;
  }
  .services-add__item-text {
    max-width: 100%;
    padding-right: 5px;
  }
}
.column-middle {
  .services-add__item {
    padding-bottom: 20px;
  }
  .services-add__item-text {
    max-width: 100%;
    padding-right: 20px;
  }
}
.column-big {
  .services-add__item {
    padding-bottom: 30px;
  }
  .services-add__item-text {
    max-width: 88%;
  }
}
.services-add {
  // .services-add__title
  &__title {
    margin-bottom: 60px;
    @media (max-width: $sm){margin-bottom: 20px;}
  }
  &__item {
    position: absolute;
    left: 0px;
    padding-left: 20px;
    bottom: 0px;
    // padding-bottom: 30px;
    z-index: 3;
    transform: translateY(100%);
    transition: .6s;
    &::after {
      content: "";
      position: absolute;
      top: -120px;
      bottom: 0;
      right: 0;
      left: 0;
      width: 1000px;
      background: linear-gradient(0deg, #3D3D3D 68.95%, rgba(61, 61, 61, 0) 100%);
      z-index: 1;
      transition: .6s;
      opacity: 0;
      @media (max-width: $sm){background:none;}
    }
  }
  &__item-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: $yellow;
    transform: translateY(-100%);
    transition: .3s;
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
  }
  &__item-text {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    // max-width: 80%;
    position: relative;
    z-index: 2;
  }
  // .services-add__row
  &__row {}
  }
  .sect {
  }
  .container {
  }
  .title {
  }
  .row {
    display: flex;
    justify-content: space-between;
    @media (max-width: $lg){flex-wrap: wrap;width: 100%;margin-right: auto;}
    @media (max-width: $sm){width: 100%;}
    @media (max-width: $xs){width: 100%;}
  // .row__left
  &__left {
    width: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $lg){width: 100%; }
  }
  // .row__right
  &__right {
    width: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $lg){width: 100%; }
  }
  }
  .column-big {
    width: 100%;
    background-color: #3D3D3D;
    margin-top: 20px;
    height: 420px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    @media (max-width: $lg){height: 320px;}
    @media (max-width: $md){width: 100%;height: 320px;}
    @media (max-width: $sm){height: 280px;}
    @media (max-width: 400px){height: 220px;}
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;  
      bottom: 0;
      width: 100%;
      z-index: 1;
      background: linear-gradient(0deg, #3D3D3D 5.95%, rgba(179, 34, 34, 0) 100%);
      @media (max-width: $sm){background: linear-gradient(0deg, #3D3D3D 0%, rgba(61, 61, 61, 0.4) 100%);}
    }
  }
  .column-little {
    width: calc(50% - 10px);
    background-color: #3D3D3D;
    margin-top: 20px;
    position: relative;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    @media (max-width: $lg){height: 240px;}
    @media (max-width: $md){width: 100%;height: 320px;}
    @media (max-width: $sm){height: 280px;}
    @media (max-width: 400px){height: 220px;}
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;  
      bottom: 0;
      width: 1000px;
      z-index: 1;
      background: linear-gradient(0deg, #3D3D3D 15.95%, rgba(61, 61, 61, 0) 100%);
      @media (max-width: $sm){background: linear-gradient(0deg, #3D3D3D 0%, rgba(61, 61, 61, 0.4) 100%);}
    }
  }
  .column-middle {
    width: calc(50% - 10px);
    background-color: #3D3D3D;
    margin-top: 20px;
    position: relative;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    @media (max-width: $lg){height: 240px;}
    @media (max-width: $md){width: 100%;height: 320px;}
    @media (max-width: $sm){height: 280px;}
    @media (max-width: 400px){height: 220px;}
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;  
      bottom: 0;
      width: 100%;
      z-index: 1;
      background: linear-gradient(0deg, #3D3D3D 10.95%, rgba(61, 61, 61, 0) 100%);
      @media (max-width: $sm){background: linear-gradient(0deg, #3D3D3D 0%, rgba(61, 61, 61, 0.4) 100%);}
    }
  }
  .row-top {
    margin-top: -20px;
  }
  @media (max-width: $sm) {
    .services-add {
      &__item {
        transform: translateY(0);
        &::after {
          opacity: 1;
          top: -20px;
        }
      }
      &__item-title {
        padding-bottom: 10px;
        transform: translateY(0);
      }
    }
  }
  @media (max-width:$xs){
    .column-little,
    .column-middle,
    .column-big {
      .services-add__item {
        padding: 20px;
        padding-right: 10px;
        &-text {
          max-width: 100%;
          font-size: 16px;
        }
      }
    }
  }
  @media(max-width: $md) {
    .row__right,
    .services-add__row:nth-child(3) {
      max-height: 0;
      overflow: hidden;
      transition: 1s;
      &.active {
        max-height: 4000px;
      }
    }
    .btn-more.slider-game__btn {
      display: inline-block;
      margin-top: 20px;
      // margin-left: 75px;
      // @media (max-width: $sm){margin-left: 60px;}
      // @media (max-width: $xs){ margin-left: 0px;}
      &::after {
        opacity: 1;
        top: 8px;
        transform: translate(0);
      }
    }
  }
  @media (min-width: 992px) {.btn-more.slider-game__btn{display: none;}}
// </ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ> ==================================================================================================

// <ФОРМА ОБРАТНОЙ СВЯЗИ> ==================================================================================================
.mainform__field:invalid + label{
  top: 8px;
}
.mainfom__field:valid + label {
  color: $yellow;
}
.mainform__field:focus + label,
.mainform__label.active {
  top: -15px;
  color: $yellow;
  font-weight: 400;
}
.mainform {
  padding-bottom: 50px;
  @media (max-width: $xs){padding-bottom: 30px;}
  // .mainform__title
  &__title {
    margin-bottom: 75px;
    max-width: 700px;
    font-weight: 700;
    @media (max-width: $sm){margin-bottom: 20px;}
  }
  // .mainform__row
  &__row {
    display: flex;
    @media (max-width: $sm) {flex-direction: column;}
  }
  // .mainform__line
  &__line {
    position: relative;
    margin-right: 20px;
    max-width: 300px;
    width: 100%;
    @media (max-width: $sm) {margin-bottom: 30px;}
  }
  // .mainform__label
  &__label {
    position: absolute;
    left: 25px;
    top: -15px;
    font-size: 14px;
    font-weight: 100;
    transition: .3s;
    z-index: 1;
    // &.active {
    //   font-weight: 400;
    //   color: $yellow;
    //   top: -15px;
    // }
}
  // .mainform__field
  &__field {
    border: none;
    border-bottom: 2px solid #3d3d3d;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 25px;
    display: block;
    width: 100%;
    outline: none;
    transition: .5s;
    position: relative;
    z-index: 2;
    background-color: transparent;
    &:active,
    &:focus {
      border-bottom: 2px solid $yellow;
    }
  }
  // .mainform__btn
  &__btn {
    max-width: 180px;
    width: 100%;
    @media (max-width: $sm) {margin-bottom: 30px;}
  }
  // .mainform__alert
  &__alert {
    margin-top: 10px;
    font-size: 10px;
    line-height: 1.4;
    a {
      border-bottom: 1px solid #000;
      transition: .3s;
      &:hover {
        color: $blue;
        border-color: $blue;
      }
    }
  }
  }
// </ФОРМА ОБРАТНОЙ СВЯЗИ> ==================================================================================================

// <КВИЗ> ==================================================================================================
// .quiz-item.current + .quiz-item {
//   width: 100%;
//   height: auto;
//   background-color: #000;
//   z-index: 200;
// }
// .quiz-item + .quiz-item.current {

// }
.quiz {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  // transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 620px;
  height: 475px;
  overflow: hidden;
  // display: none;
  // &.active {
  //   display: block;
  // }
  &__cost {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    font-size: 24px;
    display: flex;
    &-text {
      margin-right: 5px;
    }
    &-number {
      color: $yellow;
    }
  }
  &-item {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s;
    &.current {
      width: auto;
      height: auto;
      opacity: 1;
    }
  }
  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    z-index: 9999;
    cursor: pointer;
    transition: .4s;
    &:hover {
      &::after {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.3);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.3);
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      height: 1px;
      width: 100%;
      background-color: #000;
      transition: .4s;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      height: 1px;
      width: 100%;
      background-color: #000;
      transition: .4s;
    }
  }
  // .quiz__content
  &__content {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 25px;
  }
  // .quiz__title
  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    color: #3D3D3D;
    
  }
  // .quiz__info
  &__info {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    &-prev {
      background-color: $yellow;
      font-size: 18px;
      color: #fff;
      background-color: #CCCCCC;
      border-color: #CCCCCC;
      text-align: right;
      padding-right: 30px;
      transition: .3s;
      &:hover {
        background-color: darken(#ccc, 10);
      }
      span.arr {
        content: "";
        position: absolute;
        left: 30px;
        background-image: url(../img/icons/arr-r.png);
        background-repeat: no-repeat;
        background-size: cover;
        top: 23px;
        transform: rotate(180deg);
        width: 25px;
        height: 8px;
        z-index: 30;
      }
    }
    &-next {
      background-color: $yellow;
      font-size: 18px;
      color: #fff;
      position: relative;
      text-align: left;
      transition: .3s;
      padding-left: 30px;
      &:hover {
       background-color: darken($yellow, 10);
      }
      span.arr {
        content: "";
        position: absolute;
        right: 30px;
        background-image: url(../img/icons/arr-r.png);
        background-repeat: no-repeat;
        background-size: cover;
        top: 21px;
        width: 25px;
        height: 8px;
        z-index: 30;
      }
    }
    &-content {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  // .quiz__line
  &__line {
    width: 500px;
    background: #C4C4C4;
    height: 5px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  // .quiz__line-complete
  &__line-complete {
    height: 100%;
    width: 25%;
    background-color: $yellow;
    transition: .5s;
  }
  }
  .quiz-item1 {

  }
  .quiz-row {
    display: flex;
    margin-top: 20px;
    // .quiz-row__info
    &1 {
      &__info {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
      }
      .quiz__radio {
        width: 50%;
        margin-bottom: 30px;
      }
    }
    &__info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 3;
    }
    // .quiz-row__img
    &__img {
      width: 50%;background-color: #C4C4C4;
      height: 215px;
      border-radius: 10px;
      overflow: hidden;
    }
    }
    .quiz {
    // .quiz__radio
    &__radio {
      position: relative;
      z-index: 5;
      input[type=radio] {
        margin-right: 10px;
        vertical-align: middle;
      }
      label {
        position: relative;
        z-index: 1;
        padding: 5px 0;
      }
      label,
      input {
        cursor: pointer;
        position: relative;
        z-index: 10;
        vertical-align: middle;
      }
    }
    }
.quiz__radio.any {
  display: flex;
  align-items: center;
  margin-top: 60px;
  position: relative;
  label {
    top: 0px;
    font-size: 14px;
    z-index: 1;
    transition: .3s;
    color: #3D3D3D;
    font-weight: 300;
  }
  .jq-radio {
    display: none;
  }
  input[type=text] {
    border: none;
    outline: none;
    width: 300px;
    height: 26px;
    font-size: 14px;
    // height: 2px;
    border-bottom: 2px solid #3D3D3D;
    margin-left: 10px;
    padding-left: 15px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    &:focus,&:active {
      border-color: $yellow;
    }
  }
}
.quiz__radio.any2.any {
  margin-top: 30px;
  label {
    position: absolute;
    left: 25px;
  }
}
.quiz-form-text:invalid + label{
  top: -1px;
}
.quiz-form-text:valid + label {
  color: #000;
  top: -18px;
  font-weight: 400;
}
.quiz-form-text:focus + label,
.quiz-form-text.active {
  top: -18px;
  color: $yellow;
  font-weight: 400;
}
.quiz-age.quiz-row1 {
  .quiz__radio {
    width: 33%;
  }
}

.quiz-row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  // .quiz-row2__column
  label {
    cursor: pointer;
    img {
      transition: .3s;
      margin: 0 auto 10px;
      border-radius: 10px;
      overflow: hidden;
    }
    span {
      font-size: 18px;
      line-height: 1.4;
      color: #000;
      transition: .4s;
    }
  }
  .jq-radio.checked + label > img {
    transform: scale(1.06);
  }
  .jq-radio.checked + label > span {
    color: $yellow;
  }
  input,.jq-radio {
    display: none;
  }
  &__column {
    text-align: center;
  }
  }
  .quiz-platform {
  }
  .quiz-time.quiz-row3 label {
    left: 25px;
  }

  .quiz-row4.quiz-contact {
    .quiz__radio.any { 
      // margin-top: 35px;
      // display: flex;
      label {
        // left: 24px;
      }
    }
   
  }
  .quiz {
  // .quiz__radio
  input[type=text] {
    padding-right: 25px;
  }
  &__radio {}
  }
  .any {
  }
  .quiz-form-text {
  }
  .quiz-btn-send {
    background-color: $yellow;
    position: absolute;
    bottom: 60px;
    right: 60px;
    z-index: 10;
    min-height: 46px;
    font-size: 18px;
  }
  .quiz__radio {
    display: flex;
    align-items: center;
  }
  .jq-radio {
    cursor: pointer;
    max-width: 10px;
    width: 100%;
    height: 10px;
    border: 1px solid #000;
    margin-right: 10px;
    border-radius: 50%;
    transition: .4s;
    &.checked {
      background-color: $yellow;
    }
  }
  .quiz__text {
    font-size: 18px;
    line-height: 1.4;
  }
  .quiz__okey {
    font-size: 48px;
    margin-top: 30px;
    cursor: pointer;
  }
  .quiz-item-success.quiz-item {
    text-align: center;
    .quiz__title {
      margin-bottom: 40px;
      padding-top: 60px;
    }
    .quiz__text {
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .quiz-img {
    margin-bottom: 20px;
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #35DB59;
    border-radius: 50%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 75px;
      left: 22px;
      height: 4px;
      width: 35px;
      background-color: #35DB59;
      transform: rotate(45deg) scaleX(1);
      // width: 0;
      transition: .3s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 65px;
      left: 41px;
      height: 4px;
      width: 70px;
      // width: 0;
      background-color: #35DB59;
      transform: rotate(-45deg) scaleX(1);
      transition: .3s;
      transition-delay: .3s;
    }
    // &.active {
    //   &::after {
       
    //     width: 70px;
    //   }
    //   &::before {
        
    //     width: 35px;
    //   }
    // }
  }
  .quiz__info-next[disabled] {
    background-color: #CCCCCC;
    border-color: #CCCCCC;
    &::after,
    &::before {
      display: none;
    }
  }
  .jq-radio.dis-none {
    display: none;
  }
  .quiz .quiz-discount {
    display: inline;
    padding-right: 0 !important;
    border: none;
    background-color: transparent;
    outline: none;
    max-width: 42px;
  }
  @media (max-width: 630px){
    .quiz__title {
      font-size: 21px;
      text-align: center;
    }
    .quiz__cost {
      font-size: 20px;
      top: 15px;
      max-width: 100%;
      width: 100%;
      &-text {
        margin-left: auto;
      }
      &-number {
        margin-right: auto;
      }
    }
    .quiz__content {
      padding-top: 40px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .quiz .quiz-discount {
      max-width: 35px;
    }
    .quiz__info {
      width: 80%;
    }
    .quiz__info-prev,
    .quiz__info-next,
    .quiz-btn-send {
      max-width: 100px;
      width: 100%;
      font-size: 15px;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
      padding: 0;
      min-height: 40px;
      span.arr {
        display: none;
      }
    }
    .quiz-btn-send {
      right: 43px;
    }
    .quiz__info-question {
      font-size: 16px;
      text-align: center;
      padding: 0 6px;
    }
    .quiz__line {
      width: 100%;
    }
    .quiz-row2__column {
      width: 48%;
      &:first-child {
        padding-left: 5px;
      }
      &:last-child {
        padding-right: 5px;
      }
    }
    .quiz-row2 label span {
      font-size: 16px;
    }
    .quiz {
      width: 420px;
    }
  }
  @media (max-width: 460px) {
    .quiz-btn-send {
      right: 32px;
    }
    .quiz {
      width: 310px;
    }
    .quiz-item[data-quiz="2"] {
      // .quiz-row__img {
      //   display: none;
      // }
      .quiz-row {
        flex-wrap: wrap;
        &__info {
          width: 100%;
        }
        &__img {
          width: 100%;
          height: auto;
          min-height: 120px;
        }
      } 
    }
    .quiz-time.quiz-row3 label {
      left: 0;
    }
    .quiz-row1.quiz-age .quiz-row1__info {
      justify-content: center;
    }
    .quiz-row1.quiz-age .quiz__radio {
      width: 33%;
    }
    .quiz__radio label, .quiz__radio input {
      font-size: 16px;
    }
    .jq-radio {
      margin-right: 6px;
    }
    .quiz__radio.any input[type=text] {
      margin-left: 0;
      padding-left: 25px;
    }
    .quiz__info-prev,
    .quiz__info-next,
    .quiz-btn-send {
      max-width: 90px;
    }
  }
// </КВИЗ> ==================================================================================================

@import "blocks/footer";
@import "media";
