// <> =============================================================================================================
@import "include";
// <> =============================================================================================================
@import "blocks/header";


// <ГЛАВНЫЙ БЛОК> =============================================================================================================

.mainblock {
  
}

// </ГЛАВНЫЙ БЛОК> =============================================================================================================

// <УСЛУГИ> =============================================================================================================
.services {

  // .services__title
  &__title {
    margin-bottom: 40px;
  }
  // .services__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .services__item
  &__item {
    height: 380px;
    border-radius: 10px;
    width: calc(50% - 10px);
    margin-top: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, #000000 0%, rgba(61, 61, 61, 0) 58.42%);
      z-index: 2;
    }
    &-content {
      position: absolute;
      bottom: 40px;
      left: 80px;
      z-index: 3;
    }
    &-title {
      position: relative;
      padding-bottom: 3px;
      margin-bottom: 7px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $yellow;
        width: 100%;
      }
    }
  }
  // .services__more
  &__more {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
  }
}
// </УСЛУГИ> =============================================================================================================

// <О НАС> =============================================================================================================
.about {
  // .about__title
  &__title {
    margin-bottom: 60px;
    max-width: 930px;
  }
  // .about__row
  &__row {}
  }
  .about-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &:nth-child(odd) {
      .about-row__info {
        order: 1;
      }
    }
  // .about-row__info
  &__info {
    width: calc(50% - 10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  // .about-row__info-title
  &__info-title {
    margin-bottom: 12px;
  }
  // .about-row__info-text
  &__info-text {
    max-width: 530px;
    margin-top: auto;
    margin-bottom: auto;
    p {
      line-height: 1.4;
      margin-bottom: 22px;
    }
    a {
      color: $blue;
    }
  }
  // .about-row__info-img
  &__info-img {
    max-height: 320px;
    overflow: hidden;
    img {
      display: block;
    }
  }
  // .about-row__img
  &__img {
    width: calc(50% - 10px);
    height: 720px;
  }
  }
  

// </О НАС> =============================================================================================================

// <БОНУС> =============================================================================================================
.bonus {
  // .bonus__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 85px;
  }
  // .bonus__img
  &__img {
    width: calc(50% - 10px);
    display: table;
    img {
      // box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.4);
      // transform: rotate(-9deg);
      display: table-cell;
      vertical-align: middle;
    }
  }
  // .bonus__info
  &__info {
    width: calc(50% - 10px);
  }
  // .bonus__title
  &__title {
    margin-bottom: 40px;
  }
  // .bonus__text
  &__text {
    line-height: 1.4;
    margin-bottom: 60px;
  }
  // .bonus__btn
  &__btn {
    font-weight: 400;
  }
}
// </БОНУС> =============================================================================================================

// <ФОТОГРАФИИ> =============================================================================================================
.photo {
  // .photo__titile
  &__titile {
    margin-bottom: 60px;
  }
  // .photo__slider
  &__slider {
    padding-bottom: 60px;
    position: relative;
  }
  // .photo__item
  &__item {
    height: 270px;
    width: 460px;
    max-width: 460px;
  }
  .slick-slide {
    width: 480px;
    padding: 0 10px;
  }
  .slick-arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    bottom: 0;
    background-color: $yellow;
    border: none;
    border-radius: 106px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    font-size: 0;
  }
  .slick-next {
    transform: translateX(50px);
  }
  .slick-prev {
    transform: translateX(-50px);
  }
}

// </ФОТОГРАФИИ> =============================================================================================================
  

// <ПЛОЩАДКИ> =============================================================================================================
.platform {
  // .platform__title
  h3 {
    color: $yellow;
  }
  &__title {
    margin-bottom: 60px;
  }
  // .platform__list
  &__list {
    display: flex;
    justify-content: space-between;
  }
  // .platform__item
  &__item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  // .platform__item-img
  &__item-img {
    height: 460px;
    width: 100%;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #3D3D3D 4.62%, rgba(61, 61, 61, 0) 100%);
      z-index: 2;
    }
  }
  // .platform__item-title
  &__item-title {
    position: absolute;
    left: 60px;
    bottom: 60px;
    z-index: 3;
  }
  // .platform__item-info
  &__item-info {
    padding: 60px;
    p {
      line-height: 1.4;
      margin-bottom: 20px;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  // .platform__link
  &__link {
    background-color: $yellow;
    color: #fff;
  }
  // .platform__about
  &__about {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    height: 460px;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-90deg, #3D3D3D 42.19%, rgba(61, 61, 61, 0) 82.82%);
      border-radius: 10px;
      z-index: 2;
    }
  }
  // .platform__about-content
  &__about-content {
    position: relative;
    z-index: 3;
    margin-left: auto;
    max-width: 41%;
    width: 100%;
    margin-right: 60px;
    p {
      color: #fff;
      line-height: 1.4;
    }
    .video__btn {
      color: #fff;
    }
  }
  // .platform__about-title
  &__about-title {
    margin-bottom: 40px;
  }
  }
  .sect {
  }
  .container {
  }
  .title {
  }
  .title3 {
  }
  .btn {
  }
  .video {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
  // .video__click
  &__click {
    &-body {
      background-color: $yellow;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  // .video__btn
  &__btn {
    border: none;
    background: transparent;
  }
  }
// </ПЛОЩАДКИ> =============================================================================================================


@import "blocks/footer";
@import "media";
