// <> =============================================================================================================
@import "include";
// <> =============================================================================================================
@import "blocks/header";


// <ГЛАВНЫЙ БЛОК> =============================================================================================================

.mainblock {
  
}

// </ГЛАВНЫЙ БЛОК> =============================================================================================================

// <УСЛУГИ> =============================================================================================================
.services {

  // .services__title
  &__title {
    margin-bottom: 40px;
  }
  // .services__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .services__item
  &__item {
    height: 380px;
    border-radius: 10px;
    width: calc(50% - 10px);
    margin-top: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, #000000 0%, rgba(61, 61, 61, 0) 58.42%);
      z-index: 2;
    }
    &-content {
      position: absolute;
      bottom: 40px;
      left: 80px;
      z-index: 3;
    }
    &-title {
      position: relative;
      padding-bottom: 3px;
      margin-bottom: 7px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $yellow;
        width: 100%;
      }
    }
  }
  // .services__more
  &__more {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    padding-right: 50px;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      margin-left: auto;
      background-image: url(../img/icons/arrow-r.svg);
      height: 100%;
      width: 40px;
      background-position: center;
      background-repeat: no-repeat;
      transition: .6s;
      z-index: -1;
      margin-right: 30px;
      opacity: 0;
    }
    &:hover {
      &::after {
        margin-right: 0;
        opacity: 1;
      }
    }
  }
}
// </УСЛУГИ> =============================================================================================================

// <О НАС> =============================================================================================================
.about {
  // .about__title
  &__title {
    margin-bottom: 60px;
    max-width: 930px;
  }
  // .about__row
  &__row {}
  }
  .about-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &:nth-child(odd) {
      .about-row__info {
        order: 1;
      }
    }
  // .about-row__info
  &__info {
    width: calc(50% - 10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  // .about-row__info-title
  &__info-title {
    margin-bottom: 12px;
  }
  // .about-row__info-text
  &__info-text {
    max-width: 530px;
    margin-top: auto;
    margin-bottom: auto;
    p {
      line-height: 1.4;
      margin-bottom: 22px;
    }
    a {
      color: $blue;
    }
  }
  // .about-row__info-img
  &__info-img {
    max-height: 320px;
    overflow: hidden;
    img {
      display: block;
    }
  }
  // .about-row__img
  &__img {
    width: calc(50% - 10px);
    height: 720px;
  }
  }
  

// </О НАС> =============================================================================================================

// <БОНУС> =============================================================================================================
.bonus {
  // .bonus__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 85px;
  }
  // .bonus__img
  &__img {
    width: calc(50% - 10px);
    display: table;
    img {
      // box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.4);
      // transform: rotate(-9deg);
      display: table-cell;
      vertical-align: middle;
    }
  }
  // .bonus__info
  &__info {
    width: calc(50% - 10px);
  }
  // .bonus__title
  &__title {
    margin-bottom: 40px;
  }
  // .bonus__text
  &__text {
    line-height: 1.4;
    margin-bottom: 60px;
  }
  // .bonus__btn
  &__btn {
    font-weight: 400;
  }
}
// </БОНУС> =============================================================================================================

// <ФОТОГРАФИИ> =============================================================================================================
.photo {
  // .photo__titile
  &__titile {
    margin-bottom: 60px;
  }
  // .photo__slider
  &__slider {
    padding-bottom: 60px;
    position: relative;
  }
  // .photo__item
  &__item {
    height: 270px;
    width: 460px;
    max-width: 460px;
  }
  .slick-slide {
    width: 480px;
    padding: 0 10px;
  }
  .slick-arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    bottom: 0;
    background-color: $yellow;
    border: none;
    border-radius: 106px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    font-size: 0;
  }
  .slick-next {
    transform: translateX(50px);
    background-image: url(../img/icons/triangle-r.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .6s;
    animation: photo-r 1.5s infinite;
    &:hover {
      transform: translateX(60px);
    }
  }
  .slick-prev {
    transform: translateX(-50px);
    background-image: url(../img/icons/triangle-l.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .6s;
    animation: photo-l 1.5s infinite;
    &:hover {
      transform: translateX(-60px);
    }
  }
}
@keyframes photo-l {
  0% {
    background-position: center;
  }
  50% {
    background-position: 20px;
  }
  100% {
    background-position: center;
  }
}
@keyframes photo-r {
  0% {
    background-position: center;
  }
  50% {
    background-position: 42px;
  }
  100% {
    background-position: center;
  }
}
// </ФОТОГРАФИИ> =============================================================================================================
  

// <ПЛОЩАДКИ> =============================================================================================================
.platform {
  // .platform__title
  h3 {
    color: $yellow;
  }
  &__title {
    margin-bottom: 60px;
  }
  // .platform__list
  &__list {
    display: flex;
    justify-content: space-between;
  }
  // .platform__item
  &__item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  // .platform__item-img
  &__item-img {
    height: 460px;
    width: 100%;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #3D3D3D 4.62%, rgba(61, 61, 61, 0) 100%);
      z-index: 2;
    }
  }
  // .platform__item-title
  &__item-title {
    position: absolute;
    left: 60px;
    bottom: 60px;
    z-index: 3;
  }
  // .platform__item-info
  &__item-info {
    padding: 60px;
    p {
      line-height: 1.4;
      margin-bottom: 20px;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  // .platform__link
  &__link {
    background-color: $yellow;
    color: #fff;
  }
  // .platform__about
  &__about {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    height: 460px;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-90deg, #3D3D3D 42.19%, rgba(61, 61, 61, 0) 82.82%);
      border-radius: 10px;
      z-index: 2;
    }
  }
  // .platform__about-content
  &__about-content {
    position: relative;
    z-index: 3;
    margin-left: auto;
    max-width: 41%;
    width: 100%;
    margin-right: 60px;
    p {
      color: #fff;
      line-height: 1.4;
    }
    .video__btn {
      color: #fff;
    }
  }
  // .platform__about-title
  &__about-title {
    margin-bottom: 40px;
  }
  }
  .video {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    &:hover {
      .video__btn {
        opacity: 1;
        transform: translateX(0px);
      }
    }
    // .video__click
    &__click {
      position: relative;
      z-index: 3;
      &-body {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        cursor: pointer;
        background: $yellow url(../img/icons/play.svg);
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 rgba($yellow, 1);
        animation: pulse 2s infinite;
      }
    }
  // .video__btn
  &__btn {
    border: none;
    background: transparent;
    opacity: 0;
    margin-left: 0px;
    transition: .7s;
    transform: translateX(-40px);
  }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba($yellow, 0.8);
      box-shadow: 0 0 0 0 rgba($yellow, 0.8);
    }
    70% {
        -moz-box-shadow: 0 0 0 12px rgba($yellow, 0);
        box-shadow: 0 0 0 12px rgba($yellow, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba($yellow, 0);
        box-shadow: 0 0 0 0 rgba($yellow, 0);
    }
  }
// </ПЛОЩАДКИ> =============================================================================================================

// <СТОИМОСТЬ> =============================================================================================================
.cost {
  // .cost__title
  &__title {
    margin-bottom: 60px;
  }
  // .cost__list
  &__list {
    display: flex;
    // overflow: hidden;
  }
  // .cost__item
  &__item {
    margin-right: 20px;
    background-color: $grey;
    padding: 30px 25px 30px 30px;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: .3s;
    &:hover {
      box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.3);
    }
    &:last-child {
      margin-right: 0;
    }
  }
  // .cost__item-img
  &__item-img {
    text-align: center;
    margin-bottom: 75px;
    max-height: 120px;
    height: 100%;
  }
  // .cost__item-heading
  &__item-heading {
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    color: $yellow;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 150px;
      background-color: $yellow;
    }
  }
  // .cost__item-text
  &__item-text {
    font-weight: 300;
    line-height: 1.4;
    color: #fff;
    margin-top: auto;
    margin-bottom: 14px;
  }
  &__item-btn {
    color: $yellow;
  }
  }
  .sect {
  }
  .container {
  }
  .title {
  // .title_r
  &_r {}
  }
  
// </СТОИМОСТЬ> =============================================================================================================


// <ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ> ==================================================================================================
.column-little,
.column-middle,
.column-big {
  &:hover {
    .services-add {
      &__item {
        transform: translateY(0);
        &::after {
          top: -20px;
        }
      }
      &__item-title {
        padding-bottom: 10px;
        transform: translateY(0);
      }
    }
  }
}
.column-little {
  .services-add__item {
    padding-bottom: 10px;
  }
  .services-add__item-text {
    max-width: 100%;
    padding-right: 5px;
  }
}
.column-middle {
  .services-add__item {
    padding-bottom: 20px;
  }
  .services-add__item-text {
    max-width: 100%;
    padding-right: 20px;
  }
}
.column-big {
  .services-add__item {
    padding-bottom: 30px;
  }
  .services-add__item-text {
    max-width: 88%;
  }
}
.services-add {
  // .services-add__title
  &__title {
    margin-bottom: 60px;
  }
  &__item {
    position: absolute;
    left: 0px;
    padding-left: 20px;
    bottom: 0px;
    // padding-bottom: 30px;
    z-index: 3;
    transform: translateY(100%);
    transition: .6s;
    &::after {
      content: "";
      position: absolute;
      top: -120px;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(0deg, #3D3D3D 65.95%, rgba(61, 61, 61, 0) 100%);
      z-index: 1;
      transition: .6s;
    }
  }
  &__item-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: $yellow;
    transform: translateY(-100%);
    transition: .3s;
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
  }
  &__item-text {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    // max-width: 80%;
    position: relative;
    z-index: 2;
  }
  // .services-add__row
  &__row {}
  }
  .sect {
  }
  .container {
  }
  .title {
  }
  .row {
    display: flex;
    justify-content: space-between;
  // .row__left
  &__left {
    width: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  // .row__right
  &__right {
    width: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  }
  .column-big {
    width: 100%;
    background-color: #3D3D3D;
    margin-top: 20px;
    height: 420px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;  
      bottom: 0;
      width: 100%;
      z-index: 1;
      background-color: #3d3d3d;
      opacity: .4;
    }
  }
  .column-little {
    width: calc(50% - 10px);
    background-color: #3D3D3D;
    margin-top: 20px;
    position: relative;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;  
      bottom: 0;
      width: 100%;
      z-index: 1;
      background: linear-gradient(0deg, #3D3D3D 15.95%, rgba(61, 61, 61, 0) 100%);
    }
  }
  .column-middle {
    width: calc(50% - 10px);
    background-color: #3D3D3D;
    margin-top: 20px;
    position: relative;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;  
      bottom: 0;
      width: 100%;
      z-index: 1;
      background: linear-gradient(0deg, #3D3D3D 5.95%, rgba(61, 61, 61, 0) 100%);
    }
  }
  
// </ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ> ==================================================================================================

@import "blocks/footer";
@import "media";
