<!-- <Шапка сайта> -->
<header class="header fixed">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="header__logo">
        <img src="img/header/logo.png" alt="">
      </a>
      <div class="header-menu">
        <div class="header-menu__close popup-close">
          
        </div>
        <ul class="header__menu">
          <li class="header__list">
            Услуги
            <ul class="header__submenu">
              <li><a href="birthday.html">День рождения</a></li>
              <li><a href="game.html">Игра классов</a></li>
              <li><a href="company.html">Корпоратив</a></li>
              <li><a href="release.html">Выпускной</a></li>
              <li><a href="quest.html">Квесты</a></li>
            </ul>
          </li>
          <li class="header__list">
            Площадки для игр
            <ul class="header__submenu">
              <li><a href="platform1.html">г. Череповец, Лыжный стадион</a></li>
              <li><a href="platform2.html">г. Череповец, ул. Гоголя</a></li>
            </ul>
          </li>
          <li class="header__cost"><a href="#">Стоимость</a></li>
        </ul>
      </div>
      <div>
        <a href="tel:+541316" class="header__phone">54-13-16</a>
        <button class="header__btn btn btn-11"><span>Заказать звонок</span></button>
      </div>
      <div class="header-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- /.header__inner -->
  </div>
  <!-- /.container -->
</header>
<!-- </Шапка сайта> -->