// <ГЛАВНЫЙ БЛОК ДЕНЬ РОЖДЕНИЯ> =================================================================================================
.birthday {
  padding-top: 190px;
  padding-bottom: 85px;
  margin-bottom: 50px;
  min-height: 800px;
  @media (max-width: $sm){margin-bottom: 30px;}
  @media (max-width: $md){min-height: auto;}
  @media (max-width: $sm){padding-top: 120px;padding-bottom: 50px;}
  &__inner {
    max-width: 790px;
  }
  // .birthday__title  
  &__title {
    font-size: 80px;
    color: $yellow;
    margin-bottom: 40px;
    @media (max-width: $lg){font-size: 60px;}
    @media (max-width: $md){font-size: 44px;margin-bottom: 20px;}
    @media (max-width: $sm){font-size: 32px;margin-bottom: 10px;}
  }
  // .birthday__list
  &__list {
    margin-bottom: 40px;
    color: #fff;
    font-size: 36px;
    line-height: 1.4;
    font-weight: 500;
    @media (max-width: $lg){font-size: 24px;}
    @media (max-width: $sm){font-size: 18px;}
    li {
      margin-bottom: 25px;
      @media (max-width: $lg){margin-bottom: 20px;}
      @media (max-width: $sm){margin-bottom: 10px;}
    }
  }
  // .birthday__btn
  &__btn {
    // margin-top: 40px;
    background-color: $yellow;
    width: 255px;
    min-height: 60px;
    font-size: 18px;
  }
}
// </ГЛАВНЫЙ БЛОК ДЕНЬ РОЖДЕНИЯ> =================================================================================================

// <ЛАЗЕРТАГ, КВЕСТЫ, ПЕЙНТБОЛ> =================================================================================================
.blockinfo {
  // .blockinfo__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $md){flex-wrap: wrap;}
  }
  // .blockinfo__info
  &__info {
    width: 100%;
    max-width: 720px;
    padding: 0 5px;
    @media (max-width: $lg){padding: 0;max-width: 520px;}
    @media (max-width: $md){width: 100%;max-width: 100%;order: -1;}
  }
  // .blockinfo__title
  &__title {
    margin-bottom: 10px;
  }
  // .blockinfo__text
  &__text {
    margin-bottom: 25px;
    line-height: 1.4;
    font-size: 18px;
    @media (max-width: $lg){margin-bottom: 12px;font-size: 16px;}
  }
  // .blockinfo__btn
  &__btn {
    margin-top: 10px;
    background-color: $yellow;
    @media (max-width: $sm){margin-top: 0;}
    @media (max-width: 520px){width: 50%;margin-bottom: 20px;min-width: 180px;}
    &2 {
      margin-left: 30px;
      @media (max-width: 520px){width: 50%;margin: 0;min-width: 180px;}
    }
  }
  // .blockinfo__video
  &__video {
    width: 100%;
    max-width: 460px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    border-radius: 10px;
    overflow: hidden;
    @media (max-width: $lg){max-width: 400px;height: 400px;}
    @media (max-width: $md){width: 100%;max-width: 100%;height: 320px;margin-top: 20px;}
    @media (max-width: $sm){height: 280px;}
    @media (max-width: $xs){height: 230px;}
    .video {
      transform: translateX(40%);
      @media (max-width: $md){transform: translateX(-50%);left: 50%;position: absolute;}
    }
  }
  }
  .sect {
  }
  .container {
  }
  .title {
  }
  .btn {
  }
  .btn-12 {
  }
  .video {
  // .video__click
  &__click {}
  // .video__click-body
  &__click-body {}
  // .video__btn
  &__btn {}
  }
// </ЛАЗЕРТАГ, КВЕСТЫ, ПЕЙНТБОЛ> =================================================================================================