// <ГЛАВНЫЙ БЛОК 2> =============================================================================================================
.heroblock {
  margin-bottom: 50px;
  padding-top: 186px;
  min-height: 755px;
  @media (min-width: 1200px){padding-top: 200px;}
  @media (max-width: $sm) {min-height: auto; padding-top: 150px;}
  @media (max-width: $xs) {padding-top: 120px;}
  // .heroblock__inner
  &__inner {
    color: #fff;
    @media (max-width: $sm) {padding-bottom: 60px;}
  }
  // .heroblock__title
  &__title {
    font-size: 64px;
    color: $yellow;
    margin-bottom: 30px;
    @media (max-width: $md) {font-size: 54px;}
    @media (max-width: $sm) {font-size: 40px;}
    @media (max-width: $xs) {font-size: 32px;margin-bottom: 20px;}
  }
  // .heroblock__list
  &__list {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 500;
    @media (max-width: $sm) {font-size: 18px;}
    @media (max-width: $xs) {margin-bottom: 0;}
    li {
      margin-bottom: 25px;
      @media (max-width: $md) {margin-bottom: 20px;}
      @media (max-width: $xs) {margin-bottom: 14px;}
    }
    margin-bottom: 40px;
  }
  // .heroblock__btn
  &__btn {
    max-width: 320px;
    width: 100%;
    padding: 0px 25px;
    background-color: $yellow;
    min-height: 61px;
    font-size: 18px;
    @media (max-width: $sm) {font-size: 16px;max-width: 290px;min-height: 55px;}
  }
  }
// </ГЛАВНЫЙ БЛОК 2> =============================================================================================================

// <ТАБЫ> =============================================================================================================
.blocktab {
  // .blocktab__inner
  h2 {
    margin-bottom: 60px;
    @media (max-width: $md){margin-bottom: 30px;}
    @media (max-width: $sm){text-align: left;}
  }
  &__inner {}
  // .blocktab__title
  &__title {
    color: $yellow;
    margin-bottom: 10px;
  }
  // .blocktab__text
  &__text {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 50px;
    max-width: 514px;
    @media (max-width: $md){margin-bottom: 30px;}
    @media (max-width: $sm){font-size: 16px;margin-bottom: 20px;}
    p {
      margin-bottom: 25px;
      @media(max-width: $md){margin-bottom: 15px;}
      @media(max-width: $sm){margin-bottom: 7px;}
    }
  }
  // .blocktab__btn
  &__btn {
    background-color: $yellow;
    width: 100%;
    max-width: 412px;
    min-height: 64px;
    font-size: 18px;
    position: relative;
    @media(max-width: $md){min-height: 55px;max-width: 380px;}
    @media(max-width: $xs){min-height: 45px;font-size: 14px;max-width: 320px;}
    &::before {
      transform: translate(-60%, -50%);
    }
    &::after {
      transform: translate(60%, -50%);
    }
  }
  }
  .sect {
  }
  .container {
  }
  .tab-title {
    display: flex;
    margin-bottom: 40px;
    @media(max-width: $md){margin-bottom: 20px;}
    @media (max-width: $xs){flex-wrap: wrap;justify-content: space-around;}
    .tab-title__item.current {
      border-color: $yellow;
      .tab-title__item-icon {
        color: #fff;
        background-color: $yellow;
      }
      &__text {

      }
    }
  // .tab-title__item
  &__item {
    margin-right: 10px;
    min-width: 250px;
    max-width: 270px;
    padding-left: 30px;
    height: 65px;
    font-size: 24px;
    border: 1px solid transparent;
    border-radius: 56px;
    display: flex;
    align-items: center;
    transition: .3s;
    cursor: pointer;
    @media(max-width: $md){
      min-width: 200px;
      max-width: 270px;
      padding-left: 10px;
    }
    @media(max-width: $sm){
      font-size: 20px;
      min-width: 150px;
      max-width: 30%;
      padding-left: 10px;
      height: 45px;
    }
    @media (max-width: $xs){
      min-width: auto;
      width: 100%;
      max-width: 140px;
      margin: 0;
      padding-left: 5px;
      text-align: center;
      // max-width: 100%;
    }
    &-icon {
      border-radius: 50%;
      border: 1px solid $yellow;
      width: 34px;
      height: 34px;
      display: inline-block;
      text-align: center;
      line-height: 34px;
      margin-right: 25px;
      vertical-align: middle;
      transition: .3s;
      @media(max-width: $md){margin-right: 15px;}
      @media(max-width: $sm){
        margin-right: 7px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
      }
    }
    &-text {
      vertical-align: middle;
      font-weight: 500;
    }
  }
  }
  .tab-content {
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;
    position: relative;
    // height: 660px;
      // .tab-content__item
  &__item {
    position: relative;
    height: 0;
    z-index: 1;
    padding: 0;
    opacity: 0;
    transition: opacity 1s;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    &.current {
      transition: opacity 1.5s;
      // transition-delay: .2s;
      opacity: 1;
      height: 100%;
      min-height: 670px;
      padding: 60px;
      @media(max-width: $md){min-height: 580px;padding: 30px;}
      @media(max-width: $xs){min-height: 400px;padding: 15px 10px;}
    }
    .video {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -70%;
      z-index: 10;
      @media (max-width: $lg){bottom: -14px;top: auto;right: -30%;}
      @media (max-width: $md) {right: -10%;bottom: -16px;}
      @media (max-width: $sm) {right: 10%;}
      @media (max-width: $xs){display: none;}
      &__btn {
        color: #fff;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(90deg, #3D3D3D 22.58%, rgba(61, 61, 61, 0) 100%);
      z-index: 2;
      @media(max-width: $md){background: linear-gradient(360deg, #3D3D3D 3.58%, rgba(61, 61, 61, 0.7) 100%);}
    }
    &-inner {
      position: relative;
      z-index: 3;
      max-width: 540px;
    }
  }
  }
  .ibg {
  }
  .title3 {
  }
  .yellow {
  }
  .btn {
  }
  .btn-12 {
  }
// </ТАБЫ> =============================================================================================================


// <О КОМПАНИИ> ========================================================================================================
.company {
  .services-add__title {
    text-align: right;
    @media (max-width: $sm){text-align: left;}
  }
  .platform__title {
    text-align: right;
    @media (max-width: $sm){text-align: left;}
  }
}
.company-about {
  // .company-about__title
  &__title {
    margin-bottom: 60px;
    @media (max-width: $md){margin-bottom: 30px;}
  }
  // .company-about__row
  &__row {
    display: flex;
    background-color: #3d3d3d;
    @media (max-width: $md){flex-wrap: wrap;width: 100%;}
  }
  // .company-about__img
  &__img {
    width: 50%;
    height: 630px;
    @media (max-width: $lg){height: 510px;}
    @media (max-width: $md){width: 100%;height: 460px;order: -1;}
    @media (max-width: $sm){height: 320px;background-position: center top;}
  }
  // .company-about__info
  &__info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $md){width: 100%;}
    &-inner {
      width: 100%;
      max-width: 400px;
      @media (max-width: $md){max-width: 100%;padding: 30px 30px 20px;}
      @media (max-width: $sm){max-width: 100%;padding: 20px 15px 25px;}
    }
    p {
      margin-bottom: 30px;
      font-size: 18px;
      color: #fff;
      line-height: 1.4;
      @media (max-width: $md){margin-bottom: 15px;}
      @media (max-width: $sm){margin-bottom: 7px;}
      @media (max-width: $xs){font-size: 16px;}
    }
    a {
      color: $blue;
      &:hover {
        color: darken($blue, 10%);
      }
    }
    ul {
      color: #fff;
      line-height: 1.4;
      font-size: 18px;
      @media (max-width: $xs){font-size: 16px;}
      li {
        margin-bottom: 10px;
        @media (max-width: $xs){margin-bottom: 7px;}
      }
    }
  }
  // .company-about__info-title
  &__info-title {
    margin-bottom: 40px;
    @media (max-width: $md){margin-bottom: 20px;font-size: 26px;}
    @media (max-width: $sm){margin-bottom: 10px;}
  }
  }
  .sect {
  }
  .container {
  }
  .title {
  }
  .title3 {
  }
  .yellow {
  }
  
@media (max-width: $md){
  .company-about-row-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
// </О КОМПАНИИ> ========================================================================================================