.contract {
  // .contract__inner
  &__inner {
    line-height: 1.4;
    font-size: 18px;
    p {
      margin-bottom: 20px;
      span {
        margin-right: 8px;
      }
    }
    h5 {
      margin-bottom: 25px;
      text-transform: uppercase;
    }
  }
  // .contract__title
  &__title {
    margin-bottom: 20px;
  }
  }
  .sect {
  }
  .container {
  }
  .title3 {
  }
  .main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    padding-top: 150px;
    @media (min-width: 1200px){padding-top: 170px;}
    @media (max-width: $sm){padding-top: 100px;}
    .header-burger {
      span {
        background-color: #000;
      }
    }
    .header__menu {
      @media (max-width: $sm){color: #fff;}
    }
  }
  .footer-wrapper {
    margin-top: auto;
  }
