.game-of-classes {
  .photo__titile {
    max-width: 520px;
  }
  .services-add__title {
    text-align: right;
    @media (max-width: $xs) {text-align: left;}
  }
}

// <ГЛАВНЫЙ БЛОК> =============================================================================================================
.gamemain {
  min-height: 844px;
  margin-bottom: 50px;
  @media (max-width: $md) { min-height: 700px;}
  @media (max-width: $sm) {min-height: auto;}
  @media (max-width: $xs) {margin-bottom: 30px;}
  // .gamemain__inner
  &__inner {
    max-width: 580px;
    padding-top: 260px;
    padding-bottom: 50px;
    @media (max-width: $md) {padding-top: 210px;}
    @media (max-width: $sm) {padding-top: 150px;}
    @media (max-width: $xs) {padding-top: 120px;padding-bottom: 60px;}
  }
  // .gamemain__title
  &__title {
    font-size: 64px;
    color: $yellow;
    line-height: 1.2;
    margin-bottom: 30px;
    @media (max-width: $md) {font-size: 54px;}
    @media (max-width: $sm) {font-size: 40px;}
    @media (max-width: $xs) {font-size: 32px;margin-bottom: 20px;}
  }
  // .gamemain__list
  &__list {
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.4;
    font-size: 24px;
    font-weight: 500;
    @media (max-width: $sm) {font-size: 18px;}
    @media (max-width: $xs) {margin-bottom: 0;}
    li {
      margin-bottom: 30px;
      @media (max-width: $md) {margin-bottom: 20px;}
      @media (max-width: $xs) {margin-bottom: 14px;}
    }
  }
  // .gamemain__btn
  &__btn {
    background-color: $yellow;
    font-size: 18px;
    min-height: 61px;
    max-width: 254px;
    width: 100%;
    font-weight: 700;
    @media (max-width: $sm) {font-size: 16px;max-width: 230px;}
  }
  }
  .container {
  }
  .btn {
  }
  .btn-12 {
  }
// </ГЛАВНЫЙ БЛОК> =============================================================================================================

// <НЕЗАБЫВАЕМЫЕ РАЗВЛЕЧЕНИЯ> ================================================================================================
.game-about {
  // .game-about__title
  &__title {
    margin-bottom: 58px;
    max-width: 680px;
    @media (max-width: $sm) {margin-bottom: 30px;}
  }
  // .game-about__row
  &__row {
    padding: 60px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    min-height: 635px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    @media (max-width: $lg) {padding: 30px;margin-top: 30px;min-height: 585px;}
    @media (max-width: $md) {
      padding-top: 240px;
      background-size: 100% 300px;
      background-position: top left;
      box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.25);
      min-height: auto;
    }
    @media (max-width: $sm) {padding-top: 210px;background-size: 100% 270px;padding-left: 20px;padding-right: 20px;}
    @media (max-width: $xs) {padding-top: 175px;background-size: 100% 220px;padding-bottom: 0;}
    &:nth-child(odd) {
      justify-content: flex-start;
      &::after {
        transform: rotate(0);
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      background: linear-gradient(90deg, #3D3D3D 30.87%, rgba(61, 61, 61, 0) 100%);
      transform: rotate(180deg);
      z-index: 2;
      @media (max-width: $lg) {background: linear-gradient(90deg, #3D3D3D 60.87%, rgba(61, 61, 61, 0) 100%);}
      @media (max-width: $md) {
        background: linear-gradient(0deg, rgba(61, 61, 61, 0.65) 0%, rgba(61, 61, 61, 0) 100%);
        height: 300px;
        bottom: auto;
      }
      @media (max-width: $sm) {height: 270px;}
      @media (max-width: $xs) {height: 220px;}
    }
  }
  // .game-about__row-inner
  &__row-inner {
    color: #fff;
    position: relative;
    z-index: 3;
    max-width: 530px;
    @media (max-width: $md) {color: #3d3d3d;max-width: 100%;}
  }
  // .game-about__row-title
  &__row-title {
    margin-bottom: 10px;
    color: $yellow;
    @media (max-width: $md) {margin-bottom: 40px;}
    @media (max-width: $xs) {margin-bottom: 35px;}
  }
  // .game-about__row-text
  &__row-text {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 40px;
    @media (max-width: $xs) {font-size: 16px;margin-bottom: 5px;}
    p {
      margin-bottom: 20px;
      @media (max-width: $xs) {margin-bottom: 15px;}
    }
  }
  // .game-about__row-btn
  &__row-btn {
    background-color: $yellow;
    width: 100%;
    max-width: 162px;
    @media (max-width: $md) {display: block;margin-left: auto;}
    @media (max-width: $sm) {display: none;}
  }
  }
// </НЕЗАБЫВАЕМЫЕ РАЗВЛЕЧЕНИЯ> ================================================================================================

// <СЛАЙДЕР> ================================================================================================
.game-slider {
  // .game-slider__title
  &__title {
    margin-bottom: 60px;
  }
  // .game-slider__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 20px;
  }
  // .game-slider__item
  &__item {
    max-width: 360px;
    width: 100%;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    padding: 60px 0px 40px 40px;
    &.active {
      max-width: 460px;
      width: 100%;
      margin: 0 20px;
      box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.25);
    }
    &:hover {
      .slider-game__btn {
        &::after {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
  &__item-inner {
    max-width: 270px;
  }
  }
  .slider-game {
  // .slider-game__price
  &__price {
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: $yellow;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 30px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 117px;
      height: 2px;
      background-color: $yellow;
    }
  }
  // .slider-game__list
  &__list {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4;
    position: relative;
    margin-bottom: 20px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $yellow;
    }
    li {
      padding-bottom: 20px;
    }
  }
  // .slider-game__time
  &__time {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: $yellow;
    margin-bottom: 30px;
  }
  // .slider-game__btn
  &__btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    padding-right: 23px;
    display: inline-block;
    color: $yellow;
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      background-image: url(../img/game/arrow-r.png);
      background-size: cover;
      transform: translateX(-20px);
      opacity: 0;
      width: 20px;
      height: 8px;
      transition: .3s;
    }
  }
  }

  ///////////////////
  // .game-slider {
  //   .slick-slide {
  //     width: 350px;
  //     min-height: 550px;
  //     // height: 540px;
  //   }
  //   .slick-slide.slick-current {
  //     // transform: scaleY(1.2);
  //     transform-origin: top bottom;
  //     margin: 0 20px;
  //     // height: 660px;
  //   }
  //   .slider-game {
  //     width: 100%;
  //     max-width: 100%;
  //     margin: 0;
  //   }
  // }
  ///////////////////
// </СЛАЙДЕР> ================================================================================================


// <СТОИМОСТЬ ИГРА КЛАССОВ> ================================================================================================
.gamecost {
  // .gamecost__title
  &__title {
    margin-bottom: 60px;
    @media (max-width: $sm) {margin-bottom: 27px;font-size: 24px;}
  }
  // .gamecost__inner
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  // .gamecost__item
  &__item {
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    width: calc(50% - 10px);
    transition: .3s;
    @media (max-width: $lg) {padding: 30px;}
    @media (max-width: $md) {padding: 15px;}
    @media (max-width: $xs) {box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.25);padding: 10px 0 10px 6px;}
    &:hover {
      transform: scale(1.03);
      .slider-game__btn::after {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  // .gamecost__img
  &__img {
    max-width: 110px;
    @media (max-width: $md) {max-width: 80px;}
    @media (max-width: $sm) {display: none;}
  }
  // .gamecost__info
  &__info {
    max-width: 218px;
    margin-left: 80px;
    @media (max-width: $lg) {margin-left: 40px;}
    @media (max-width: $md) {margin-left: 20px;}
    @media (max-width: $sm) {margin-left: 0;}
  }
  // .gamecost__info-price
  &__info-price {
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;

    color: #FBC436;

    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
    @media (max-width: $md) {font-size: 30px;line-height: 42px;}
    @media (max-width: $xs) {font-size: 24px;line-height: 32px;padding-bottom: 5px;}
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 148px;
      background-color: $yellow;
      @media (max-width: $xs) {width: 50px;}
    }
  }
  // .gamecost__info-text
  &__info-text {
    font-weight: 300;
    font-size: 16px;

    color: #000000;
    margin-bottom: 14px;
    @media (max-width: $xs) {font-size: 14px;}
  }
  // .gamecost__info-link
  .slider-game__btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FBC436;
    @media (max-width: $md) {font-size: 16px;line-height: 21px;}
    &::after {
      @media (max-width: $xs) {
        opacity: 1;
        transform: translateX(0);
        top: auto;
        bottom: 6px;
        right: 15px;
      }
    }
  }
  }
  .sect {
  }
  .container {
  }
  .title {
  }
  
// </СТОИМОСТЬ ИГРА КЛАССОВ> ================================================================================================
