.header {
  // .header__inner
  z-index: 100;
  padding-top: 50px;
  padding-right: 190px;
  &.fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // background-color: #fff;
  }
  &.relative {
    padding-right: 0;
    padding-bottom: 20px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .header__logo
  &__logo {
    max-width: 260px;
    width: 100%;
  }
  // .header__menu
  &__menu {
    &>li {
      display: inline-block;
      margin: 0 25px;
      padding-right: 15px;
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/icons/arrow-down.svg);
        width: 10px;
        height: 8px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: .3s;
      }
      &:hover {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
        .header__submenu {
          display: block;
          padding: 8px 0;
          max-height: 150px;
          overflow: visible;
          border-width: 1px;
          transition: 0.3s;
          // &::after {
          //   display: block;
          // }
        }
      }
    }
  }
  // .header__list
  &__list {}
  // .header__submenu
  &__submenu {
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    width: 320px;
    transition: all 0.05s;
    cursor: auto;
    z-index: 10;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 1px;
    //   // background-color: $yellow;
    //   bottom: 0;
    //   left: 0;
    //   display: none;
    // }
    a {
      padding: 3px 0;
      transition: .3s;
      &:hover {
        color: $blue;
      }
    }
  }
  // .header__phone
  &__phone {
    margin-right: 30px;
    font-size: 20px;
    transition: .3s;
    &:hover {
      color: $blue;
    }
  }
  // .header__btn
  &__btn {
    height: auto;
  }
  }
  .container {
  }
  .btn {
  }
  