.header {
  // .header__inner
  z-index: 100;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  @media (max-width: $xs){padding-top: 20px;}
  &.fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // background-color: #fff;
  }
  &.relative {
    padding-right: 0;
    padding-bottom: 50px;
    color: #000;
  }
  &.main {
    padding-right: 0;
    padding-bottom: 20px;
    color: #fff;
    .header__btn {
      border: 1px solid #F6C30D;
      color: #fff;
    }
  }
  &.white {
    color: #fff;
    .header__btn {
      border: 1px solid #F6C30D;
      color: #fff;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .header__logo
  &__logo {
    max-width: 140px;
    width: 100%;
  }
  // .header__menu
  &__menu {
    @media (max-width: $sm) {

    }
    .header__cost {
      display: inline-block;
      transition: .3s;
      margin-left: 25px;
      @media (max-width: $sm) {
        margin: 0;
      }
      &:hover {
        color: $blue;
      }
    }
    &>li.header__list {
      display: inline-block;
      margin: 0 25px;
      padding-right: 15px;
      position: relative;
      cursor: pointer;
      @media (max-width: $md) {
        margin: 0 15px;
      }
      @media (max-width: $sm) {
        margin: 0;
        margin-bottom: 20px;
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/icons/arrow-down.svg);
        width: 10px;
        height: 8px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: .3s;
        @media (max-width: $sm) {
          top: 8px;
        }
      }
      &:hover {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
        .header__submenu {
          display: block;
          padding: 4px 0;
          max-height: 150px;
          overflow: visible;
          border-width: 1px;
          transition: 0.3s;
          // &::after {
          //   display: block;
          // }
        }
      }
    }
  }
  // .header__list
  &__list {}
  // .header__submenu
  &__submenu {
    padding: 0;
    position: absolute;
    top: 90%;
    left: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    width: 320px;
    transition: all 0.05s;
    cursor: auto;
    z-index: 10;
    @media (max-width: $sm) {
      position: relative;
      right: 0;
      width: 100%;
      font-size: 16px;
      transition: all .9s;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 1px;
    //   // background-color: $yellow;
    //   bottom: 0;
    //   left: 0;
    //   display: none;
    // }
    a {
      padding: 3px 0;
      transition: .3s;
      &:hover {
        color: $blue;
      }
    }
  }
  // .header__phone
  &__phone {
    margin-right: 50px;
    font-size: 20px;
    transition: .3s;
    vertical-align: middle;
    @media (max-width: $md) {
      margin-right: 0;
    }
    &:hover {
      color: $blue;
    }
  }
  // .header__btn
  &__btn {
    height: auto;
    @media (max-width: $md) {
      display: none;
    }
  }
  }
  .container {
  }
  .btn {
  }

.header-burger {
  width: 40px;
  height: 16px;
  cursor: pointer;
  @media(min-width: 768px) {
    display: none;
  }
  span {
    background-color: #fff;
    height: 2px;
    width: 30px;
    display: block;
    margin-left: auto;
    &:first-child {
      width: 40px;
    }
    &:last-child {
      width: 20px;
    }
  }
  span + span {
    margin-top: 5px;
  }
}

@media (min-width: 768px) {
  .header-menu__close  {
    display: none;
  }
}
@media (max-width: $sm) {
  .header__menu >li.header__list {
    &:hover {
      &::after {
        transform: translateY(-50%) rotate(0deg);
      }
      .header__submenu {
        padding: 0;
        position: relative;
        top: 90%;
        left: 0;
        height: auto;
        max-height: 0;
        overflow: hidden;
        position: relative;
        right: 0;
        width: 100%;
        font-size: 16px;
        transition: all .6s;
        // &::after {
        //   display: block;
        // }
      }
    }
    &.active {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
      .header__submenu {
        padding: 4px 0;
        max-height: 150px;
        overflow: hidden;
        border-width: 1px;
        transition: .6s;
        // &::after {
        //   display: block;
        // }
      }
    }
  }
  .header__logo {
    max-width: 120px;
  }
  .header {
    z-index: 9998;
  }
  .header-menu__close  {
    display: block;
    &::after,
    &::before {
      background-color: #fff;
    }
  }
  .header-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: -200%;
    // bottom: 0;
    width: 100%;
    // height: 100%; 
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    background-color: #3d3d3d;
    text-align: left;
    padding: 60px 10px;
    font-size: 18px;
    transition: .7s;
    padding-left: 15px;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
  }
  .header-menu.active {
    z-index: 9999;
    top: 0;
  }
  .header__menu>li.header__list::after {
    right: 30px;
  }
}
@media (max-width: $xs) {
  .header__logo {
    max-width: 80px;
  }
}