// <ГЛАВНЫЙ БЛОК ДЛЯ ПЛАТФОРМЫ> ================================================================================================
.black {
  .header-burger {
    span {
      background-color: #000;
    }
  }
  .header__menu {
    @media (max-width: $sm){color: #fff;}
  }
}
.platform-hero {
  @media (max-width: $lg){padding-bottom: 20px;}
  @media (max-width: $sm){padding-bottom: 0;}
  // .platform-hero__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    @media (min-width: 1200px){padding-top: 180px;}
    @media (max-width: $md){flex-wrap: wrap;}
    @media (max-width: $sm){padding-top: 130px;}
    @media (max-width: $xs){padding-top: 80px;}
  }
  // .platform-hero__info
  &__info {
    width: 100%;
    max-width: 530px;
    @media (max-width: $md){max-width: 100%;}
  }
  // .platform-hero__title
  &__title {
    margin-bottom: 30px;
  }
  // .platform-hero__text
  &__text {
    font-size: 24px;
    line-height: 1.4;
    @media(max-width: $sm){font-size: 18px;}
    p {
      margin-bottom: 40px;
      @media(max-width: $lg){margin-bottom: 20px;}
    }
  }
  // .platform-hero__btn
  &__btn {
    margin-top: 20px;
    max-width: 211px;
    width: 100%;
    min-height: 45px;
    @media (max-width: $md){margin-top: 0;}
  }
  // .platform-hero__img
  &__img {
    width: 100%;
    max-width: 700px;
    margin-left: 30px;
    border-radius: 10px;
    overflow: hidden;
    height: 430px;
    @media(max-width: $lg){height: 350px;}
    @media (max-width: $md){max-width: 100%;margin-left: 0;height: 320px;margin-top: 20px;}
    @media (max-width: $sm){height: 220px;}
  }
  // .platform-hero__fact
  &__fact {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    @media(max-width: $lg){margin-top: 50px;flex-wrap: wrap;justify-content: center;}
    @media (max-width: $xs){display: block;}
  }
  // .platform-hero__fact-item
  &__fact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    @media (max-width: $lg){margin: 20px 20px 0;}
    @media (max-width: $sm){margin: 0px 0px 20px;width: 50%;}
    @media (max-width: $xs){width: 100%;max-width: 300px;}
  }
  // .platform-hero__fact-img
  &__fact-img {
    text-align: center;
    max-width: 75px;
    width: 100%;
    margin-right: 20px;
    @media (max-width: $sm){margin-right: 10px;}
  }
  // .platform-hero__fact-text
  &__fact-text {
    font-size: 18px;
    line-height: 1.4;
    max-width: 220px;
    width: 100%;
  }
  }
  .sect {
  }
  .container {
  }
  .title {
  }
  .btn {
  }
  .btn-11 {
  }
  .ibg {
  }
  
// </ГЛАВНЫЙ БЛОК ДЛЯ ПЛАТФОРМЫ> ================================================================================================

// <КАК ДОБРАТЬСЯ> ================================================================================================
  .platform-travel {
    // .platform-travel__title
    &__title {
      margin-bottom: 55px;
      @media (max-width: $md){text-align: left;}
      @media (max-width: $sm){margin-bottom: 30px;}
    }
    // .platform-travel__inner
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
      @media (max-width: $md){flex-wrap: wrap;}
    }
    // .platform-travel__info
    &__info {
      width: 100%;
      max-width: 536px;
      @media (max-width: $md){max-width: 100%;display: flex;justify-content: space-between;}
      @media (max-width: $sm){flex-wrap: wrap;}
      
    }
    // .platform-travel__info-item
    &__info-item {
      margin-bottom: 40px;
      width: 100%;
      @media (max-width: $sm){width: calc(50% - 10px);margin-bottom: 20px;}
      @media (max-width: $sm){width: 100%;margin-bottom: 20px;}
      p {
        max-width: 100%;
        line-height: 1.4;
      }
    }
    // .platform-travel__info-title
    &__info-title {
      margin-bottom: 20px;
    }
    // .platform-travel__video
    &__video {
      height: 360px;
      border-radius: 10px;
      overflow: hidden;
      max-width: 620px;
      width: 100%;
      position: relative;
      z-index: 1;
      &::after {
        content:"";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000;
        opacity: .4;
      }
      @media (max-width: $lg){width: 92%;}
      @media (max-width: $md){height: 320px;width: 100%;max-width:100%}
      @media (max-width: $sm){height: 280px;}
      @media (max-width: $xs){height: 260px;}
      .video {
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        transform: translate(-18%, -50%);
        @media (max-width: $md){transform: translate(-50%, -50%);}
      }
      .video__btn {
        color: #fff
      }
    }
    // .platform-travel__map
    &__map {
      iframe {
        width: 100%;
        height: 560px;
        @media (max-width: $md){height: 320px;}
        @media (max-width: $sm){height: 280px;}
      }
    }
    }
    
// </КАК ДОБРАТЬСЯ> ================================================================================================